# Training Corpora
treebankHome = /shared/corpora/corporaWeb/treebanks/eng/pennTreebank/treebank-3/parsed/mrg/wsj/
propbankHome = /shared/corpora/corporaWeb/treebanks/eng/propbank_1/data

# Training Sections (Inclusive)
trainSectionFrom = 02
trainSectionTo = 22
testSection = 23

runMode = false
trainingMode = other

srlGoldPredicates = true
srlGoldArgBoundaries = true

# Training Modes. Only one of them should be true
srlArgIdentifier = false
srlArgType = true
srlTrainPredicates = false
